body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}



.carousel {
    width: 100vw;
    height: 100vh;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    animation: zoomout 10s ease-in infinite;
    transition: all .5s ease-in;
}

@keyframes zoomout {
    0% {
        transform: scale(1.5);
    }

    100% {
        transform: scale(1);
    }
}